HELP.md
*.log
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
.vscode/
*.iws
*.iml
*.ipr
.DS_Store

parking-backend/src/main/resources/application-dev.yml
parking-backend/src/main/resources/application-prod.yml
parking-backend/src/main/resources/application-local.yml
parking-backend/uploads/

parking-frontend/node_modules/
parking-frontend/dist/
parking-frontend/dist-ssr/

ocr-service/.venv/
ocr-service/__pycache__/
ocr-service/.easyocr/
ocr-service/*.log
